@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body{
    font-family: "Roboto", sans-serif;
    width: 90%;
    margin: 0 auto;
}

header{
    background:beige;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border-radius:8px;
    box-shadow:0 0 40px -20px #000;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.navbar__image{
    display: flex;
    justify-content: flex-start;
}

.navbar__image-img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50%;
    padding: 20px;
}

.navbar__a{
    padding: 20px;
    margin: 30px;
}

.navbar__a-link{
    text-decoration: none;
    padding-left: 10px;
    color: purple;
    font-size: 20px;
}

a:hover{
    color: green;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

section{
    background-color: rgba(223, 193, 193, 0.486);
    width: 60%;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius:8px;
    box-shadow:0 0 40px -20px #000;
}

aside{
    background: rgba(169, 169, 226, 0.52);
    height: auto;
    margin-top: 20px;
    padding: 20px;
    width: 25%;
    display: inline-block;
    border-radius:8px;
    box-shadow:0 0 40px -20px #000;
}

.aside__image{
    display: flex;
    width: 200px;
    height: auto;
}

h3{
    color:blueviolet;
}

footer{
    background: rgba(184, 162, 206, 0.623);
    height: 60px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:8px;
    box-shadow:0 0 40px -20px #000;
}

.footer__link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer__link-a{
    color: blueviolet;
    text-decoration: none;
    padding: 20px;
}

form{
    padding: 60px;
    background-color: #E7E7E7;
    margin: 0 auto;
    border-radius:8px;
    box-shadow:0 0 40px -20px #000;
    margin-top: 20px;
}

.form__input, .form__textarea{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: horizontal;
}

.form__button {
    display: block;
    background-color: blueviolet;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: #046193;
}

/* @media screen and (min-width: 480px) {
    p {font-size: 25px;}
} */

